<!DOCTYPE html>
<html>
  <head>
    <title>Hockam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
			<%= link_to "atlier hockam", '#', { class: "navbar-brand" } %>
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>
