<!DOCTYPE html>
<html>
  <head>
    <title>Hockam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
  </head>

  <body>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="<%= asset_pack_path 'media/images/logo.png' %>" width="300px" class="d-inline-block" alt="ブランド">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" href="#">Goods</a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="nav-link" href="<%= goods_minne_path %>"><img src=<%= asset_pack_path 'media/images/minne_appicon.png' %> class="drop-down-logo"> minne</a></li>
                <li><a class="nav-link" href=<%= goods_suzuri_path %>><img src=<%= asset_pack_path 'media/images/surisurikun.png' %> class="drop-down-logo"> SUZURI</a></li>
                <li><a class="nav-link" href=<%= goods_stores_path %>><img src=<%= asset_pack_path 'media/images/annonymouse_cart.png' %> class="drop-down-logo"> Stores</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Shops</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SNS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Work</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <main>
        <%= yield %>
      </main>
  </body>
</html>
